body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    background-color: #ddd;
}

header {
    height: 10em;
    padding: 1.5em 3.5em 1em 4em;
    font-size: 2em;
    background-image: url(../imgs/header.jpeg);
    background-size: cover;
    background-position: center;
    background-position-y: 40%;
    text-align: Right;
    line-height: 0.5em;
}

header h1 {
    margin: 0px;
    font-weight: 900;
}

header p {
    margin-top: 1em;
}

section {
    width: 80%;
    margin: 2em auto;
}

.producto {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

.descripcion {
    width: 70%;
    text-align: center;
    margin: 1em;
}

.descripcion h3 {
    font-size: 2em;
}

.descripcion h4 {
    font-size: 1.5em;
}

.descripcion p {
    font-size: 1em;
}

.imagen {
    width: 80%;
    text-align: center;
}

.imagen img {
    width: 100%;
    border-radius: 10px; /* imágenes quedan con borde redondeado */
}

footer {
    height: 4em;
    line-height: 4em;
    background-color: #ba8927;
    text-align: center;
}